* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.65);
    --very-light-grey: hsl(0, 0%, 95%);
    width: 100svw;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--very-light-grey);
}

p, button {
    font-family: "Lexend Deca", sans-serif;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--transparent-white);
}

button {
    font-weight: 700;
}

section {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    overflow: hidden;
}

@media (min-width: 900px) {
    section {
        width: 900px;
    }
}

.card-container {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 300px;
    height: 500px;
    padding: 6% 5%;
}

.card-container button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.card-top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
}

.card-sedans {
    background: var(--bright-orange);
}

.card-sedans button {
    color: var(--bright-orange);
}

.card-suvs {
    background: var(--dark-cyan);
}

.card-suvs button {
    color: var(--dark-cyan);
}

.card-luxury {
    background: var(--very-dark-cyan);
}

.card-luxury button {
    color: var(--very-dark-cyan);
}